@model IEnumerable<Thoughts.Domain.Base.Entities.ShortUrl>
@{
    ViewBag.Title = "Статистика использования коротких ссылок";
}

<div class="container">

    <h3>Статистика использования коротких ссылок</h3>

    <hr />

    <table class="table-responsive">
        <thead>
            <tr>
                <th class="col-1">Id</th>
                <th class="col-1"></th>
                <th class="col-3">Данные ссылки</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shortUrl in Model)
            {
                <tr>
                    <td>@shortUrl.Id</td>
                    <td>
                        <a asp-action="ResetStatistic" asp-route-Id="@shortUrl.Id">Сбросить</a></td>
                    <td>Оригинальная ссылка: <a href="@shortUrl.OriginalUrl">@shortUrl.OriginalUrl</a><br>
                        Короткая ссылка <a href="@shortUrl.Alias">@shortUrl.Alias</a><br>
                        Колчество вызовов: @shortUrl.Statistic<br>
                        Дата последнего сброса статистики: @shortUrl.LastReset
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="ResetStatistic" asp-route-Id="0">Сбросить всю статистику</a></td>


</div>

